*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;	
}
body{
	background: #f9f9f9;
	font-family: Tahoma, arial;
}
.wrapper{
	width: 968px;
	margin: 0 auto;
	background: #fff;
	padding-left:   46px;
	padding-right: 46px;
	box-shadow: 0 0 4px 0 #c8c8c8;
	padding-bottom: 40px;
}
.clearfix{
 	display: block;
 	content: '';
 	clear: both;
 }
.header{
    padding-top: 50px;  
    padding-bottom: 40px; 
}
.logo {
	display: block;
	margin-bottom: 40px; 	
}
.menu{
	background: #4b4a4a;
	font-size: 0;
}
.menu li{
	display: inline-block;	
}
.menu a{
	display: block;
	font-size: 15px;
	color:#fff;
	padding: 14px 42px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	transition: 0.2s all;
}
.menu a:hover{
    background: #323232;
    border-left: 1px solid #838383; 
    border-right: 1px solid #838383;
    transition: 0.2s all;
}

.content{
    display: inline-block;
    margin-bottom: 60px; 
 }
.sitebar{
 	width: 240px;
 	border:1px solid #c8c8c8;
 	float: left;
 	font-size: 0;
}
.bar-menu li{
    border-top: 1px solid #c8c8c8;
 }
.bar-menu a{
    display: block;
    padding-left: 23px;
    padding-top: 11px;
    padding-bottom: 11px;
    color:#656363;
    transition:0.3s all;
    font-size: 13px;
}
.bar-menu li:first-child{
 	border:none;
 }
.bar-menu a:hover{
 	padding-left: 36px;
 	background:#f9f9f9;
 	color: #2c2c2c;
 	transition:0.3s all;
 }
 .product{
 	float: right;
 	width:678px; 
 	border:1px solid #c8c8c8;
 	margin-bottom: 40px;	
}
.product-image {
	padding-left: 100px;
	padding-top: 55px;
	margin-bottom: 50px;
}
.fish-text{
	float: right;
 	width:628px;
 	padding-right: 20px;	
}

.footer{
	background: #e1e1e1;
	width: 100%;
	height:50px;
}
.footer-menu{
    float: left;
    font-size: 0;
}
.footer-menu li{
	display: inline-block;
}
.footer-menu a{
	display: block;
	color: #2c2c2c;
	padding-left: 22px;
	padding-right: 22px;
	padding-bottom: 18px;
	padding-top: 14px;
	font-size: 13px;
}
.footer-menu a:hover{
	background: #ccc;
	transition: 0.2s all;
}
.right{
	float:right;
	padding-top: 14px;
	padding-right: 26px;
}



