*{
	padding: 0;
	margin: 0;
	
}
body{
	background: #f9f9f9;
	font-family: Tahoma, arial;
}
.wrapper{
	width: 968px;
	margin: 0 auto;
	background: #fff;
	padding:0  46px;
	box-shadow: 0 0 4px 0 #c8c8c8;
}
.header{
    padding-top: 50px;
    
}


.menu{
	background: #4b4a4a;
	margin-top: 40px;

}
.menu li{
	display: inline-block;
	list-style: none;

}
.menu a{
	display: block;
	line-height: 40px;
	font-size: 15px;
	color:#fff;
	text-decoration: none;
	padding: 0 43px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;

}
.menu a:hover{
    background: #323232;
    border-left: 1px solid #838383; 
    border-right: 1px solid #838383;
 }


.content{
 	padding-top:40px;
 	overflow: hidden;
 	
 	
 }

.sitebar{
 	width: 240px;
 	border:1px solid #c8c8c8;
 	float: left;


 }
.bar-menu li{
 	list-style: none;
 	border-top: 1px solid #c8c8c8;

 }
.bar-menu a{
    display: block;
    padding-left: 23px;
    line-height: 37px;
    color:#656363;
    text-decoration: none;
    transition:0.3s all;
    font-size: 13px;
}
 
.bar-menu li:first-child{
 	border:none;
 }

.bar-menu a:hover{
 	padding-left: 35px;
 	background:#f9f9f9;
 	color: #2c2c2c;
 	transition:0.3s all;
 }

 .product{
 	float: right;
 	width:678px;
 	
}
.product-image {
	border:1px solid #c8c8c8;
	text-align: center;
	padding-top: 55px;
	padding-bottom: 55px;
	margin-bottom: 40px;
}

p{
	padding-left: 25px;
	padding-right: 25px;
	font-size: 13px;
	color:#2c2c2c;
	line-height: 20px;
	
}
.footer-menu{
	background: #e1e1e1;
	margin:40px 0;
}
.footer-menu li{
	line-height: 40px;
	display: inline-block;
	list-style: none;

}
.footer-menu a{
	color: #2c2c2c;
	text-decoration: none;
	padding: 0 43px;
	font-size: 13px;
}
.footer-menu li:last-child{
	float: right;
	padding: 0 43px;
	font-size: 13px;
}


