*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
		
}
body{
	background: #e9e9e9;
	font-family: Tahoma,Arial;
	list-style: none;
	text-decoration: none;
}
.wrapper{
	width: 100%;
	margin: 0 auto;	
}
.top-menu{
	margin: 0 auto;
    height: 28px;
	background: #fff;
	border-bottom: 1px solid #d9d9d9;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.main-menu{
	margin: 0 auto;
	width: 960px;
	height: 28px;
}
.menu{
	float: left;
	font-size: 0; 	 	
}
.menu li{
	display: inline-block;	 
}
.menu a{
	display: block;
    color:#535353;
    padding: 8px 10px;
    font-size: 10px;
}
.menu a:hover{
	color:#000;
	background: #ccc;
	transition:0.2s ; 
}
.social{
	float: right;
	margin: 0 auto;
	padding-top: 4px;
    padding-bottom: 6px;
}
.web{
	display: inline-block;
	background: url(../img/sprite.png);
	width: 18px;
	height: 20px;	
}
.web1{
	background-position: 1px -2px;
}
.web2{
	background-position: -21px -2px;
}
.web3{
	background-position: -42px -2px;
}
.web4{
	background-position: -62px -2px;
}
.web5{
	background-position: -82px -2px;
}
.web6{
	background-position: -102px -2px;
}
.web:hover{
	opacity: 0.5;
	transition:0.2s;
}

.header{
	width: 960px;
	margin: 0 auto;	
}
.logo{
	display: inline-block;
	background: url(../img/logo.png) no-repeat;
	width: 184px;
	height: 30px;
	margin-bottom: 38px;
	margin-top: 64px;
}
.home-menu{
	width: 960px;
	height: 34px;
	background: #fff;
	box-shadow: 1px 1px 0px 1px rgba(217,217,217,1);
	font-size: 0;
	margin-bottom: 14px;
}
.home-menu li{
	display: inline-block;
}
.home-menu a{
	display: block;
    padding: 8px 20px;
	color:#5c5c5c;
	font-size: 14px;
	transition: 0.2s;
}
.home-menu a:hover{
	background: #ccc;
	color: #000;
	transition: 0.2s;
}

.news {
	width: 960px;
	height: 283px;
	background: #fff;
	box-shadow: 1px 1px 0px 1px rgba(217,217,217,1);
	display: inline-block;
	position: relative;
	margin-bottom: 14px;
}
img{
	margin: 10px;
	float: left;
}
.photo-text{
	display: inline-block;
	position: absolute;
    width: 644px;
	height:42px;
	background: rgba(220, 220, 220, 0.8);
    left: 0;
    top:224px;
	margin-left: 10px;
	font-size: 10px;
	padding-top: 8px;
	padding-left: 8px;	
	color: #2c2b2b;
}
.title{
	font-size: 20px;
}
.column{
	float: right;
	border-bottom: 1px dotted #c2c2c2;
	width: 280px;
	height: 60px;
	background:#fff;
	padding-bottom: 10px;
	cursor: pointer;
	transition: 0.2s;
}
.column img{
	width: 60px;
	height: 50px;
	position: relative;
	transition: 0.2s;
}
.column-text{
     padding-top: 14px;
     padding-left: 84px;
     padding-right: 14px;
     color: #717171;
     font-size: 14px;
     transition: 0.2s;
}
.column:hover{
	background: #ccc;
	transition: 0.2s;
}
.column-text:hover{
	color:#7da1bc;
	transition: 0.2s;
}
.column img:hover{
	width: 64px;
	height:54px;
	transition: 0.2s;
}


.content{
	display: table;
	width: 960px;
	margin: 0 auto;	
}
.left-column{
	width: 221px;
	float: left;
}
.left{
	width: 220px;
	box-shadow: 1px 1px 0px 1px rgba(217,217,217,1);
	background: #fff;
	margin-bottom: 12px;
}

.post{
	height: 312px;
}
.resent{
	font-size: 18px;
	color:#535353;
	padding-top: 13px;
	padding-bottom: 8px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px dotted #c2c2c2;
	margin-bottom: 10px;
}
.block{
	width: 200px;
	height: 50px;
	background:#fff;
	padding-bottom: 6px;
	padding-top: 6px;
	cursor: pointer;
	transition: 0.2s;
	margin-left: 10px;
	transition: 0.2s all;
}
.block img{
	width: 60px;
	height: 50px;
	margin: 0;
	padding: 0;
	transition: 0.2s;
}
.block-text{
     padding-left: 80px;
     color: #717171;
     font-size: 12px;
     transition: 0.2s;
}
.block-text span{
	font-size: 11px;
	color:#a4a4a4;
	font-family: italic;
}
.block:hover{
	background: #ccc;
	transition: 0.2s;
}
.block-text:hover{
	color:#7da1bc;
	transition: 0.2s;
}

.comment{
    height: 207px;
}
.flickr{
    height: 176px;
}
.twitter{
	height: 180px;
}

.center-column{
    width: 490px;
    float: left;
    margin-left: 14px;	
}
.main-news{
	margin-bottom: 12px;
	width: 490px;
	height: 599px;
	box-shadow: 1px 1px 0px 1px rgba(217,217,217,1);
	display: right;
	background: #fff;
}

.right-column{
	width: 221px;
	float: left;
	margin-left: 12px;
}
.right{
	width: 220px;
	box-shadow: 1px 1px 0px 1px rgba(217,217,217,1);
	background: #fff;
	margin-bottom: 12px;
}
.search{
	height: 96px;	
}
.posts{
	height: 310px;	
}
.tag{
	height: 200px;	
}
.archive{
	height: 250px;	
}
.ad{
	height: 275px;	
}


