* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: #40c6d3;
    background: -moz-linear-gradient(top, #128aa7 0%, #41c5d3 10%, #39bdcd 20%, #1b9db8 30%, #108faf 40%, #0f8bad 50%, #0c739f 100%);
    background: -webkit-linear-gradient(top, #128aa7 0%, #41c5d3 10%, #39bdcd 20%, #1b9db8 30%, #108faf 40%, #0f8bad 50%, #0c739f 100%);
    background: linear-gradient(to bottom, #128aa7 0%, #41c5d3 10%, #39bdcd 20%, #1b9db8 30%, #108faf 40%, #0f8bad 50%, #0c739f 100%);
    font-family: Tahoma, Arial;
}

.wrapper {
    margin: 0 auto;
}

.center {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 2px 8px 1px rgba(3, 29, 40, 1);
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.header {
    position: relative;
}

.logo {
    position: absolute;
    top: 18px;
    left: 28px;
}

.contacts {
    width: 130px;
    float: right;
    padding-top: 10px;
    padding-right: 32px;
    margin-bottom: 30px;
}

.number {
    color: #5fa5bb;
    text-align: left;
    font-size: 12px;
    padding-bottom: 10px;
}

.number1 {
    display: block;
    color: #5fa5bb;
    text-align: left;
    font-size: 12px;
    padding-bottom: 4px;
    color: #7bb3c4;
    text-decoration: none;
}

.number1:hover {
    color: #ccc;
}

.menu {
    float: right;
    clear: right;
    padding-right: 30px;
    font-size: 0;
}

.menu li {
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
}

.menu a {
    display: block;
    font-size: 10px;
    padding: 0 6px;
    color: #128aa7;
}

.menu img {
    display: block;
}

.travel-menu {
    background: #323232;
    border-top: 1px solid #cacbcb;
    margin-top: -3px;
    font-size: 0;
}

.downmenu {
    position: relative;
    font-size: 0;
}

.travel-menu > li {
    display: inline-block;
    list-style: none;
}

.travel-menu a {
    display: block;
    color: #fff;
    font-size: 13px;
    padding: 8px 38px 8px 37px;
}

.way {
    display: none;
    position: absolute;
    width: 150px;
    background: #303030;
    left: 20px;
    top: 31px;
    padding: 0;
    margin: 0px;
    border-top: 1px solid black;
    box-shadow: 0 5px 10px 0 #404040;
}

.way li {
    display: block;
}

.way a {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 12px;
    padding: 5px 10px;
}

.downmenu:hover .way {
    display: block;
}

h2 {
    font-size: 16px;
    padding: 5px;
}

.content-text {
    width: 210px;
    color: #424c43;
    background: #edeef0;
    text-align: center;
    font-size: 16px;
    border-right: 1px solid #c7cacf;
    padding-top: 16px;
    line-height: 26px;
}

.information {
    float: left;
    padding-bottom: 288px;
}

.news {
    float: right;
}

.footer-center {
    width: 1000px;
    margin: 0 auto;
}

.footer-text {
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
}
