*{
	margin: 0;
	padding: 0;
}
.wrapper{
	margin: 0 auto;
	width: 100%
}

.clearfix{
	content: '';
	display: block;
	clear: both;
}
.center{
	width: 1215px;
	margin: 0 auto;
}

.header{
	width: 100%;
	height: 34px;
	background: url(../img/main-background.jpg);
}

.main-menu{
	position: relative;
	text-align: center;
}

.menu{
	margin: 0;
	padding: 0;
	width: 1215px;
	margin: 0 auto
}

.menu li{
    display: inline-block;
    list-style: none;
}

.menu a{
	display: block;
	color: #60b5ed;
	text-decoration: none;
	padding: 8px 12px;
	font-family: Tahoma;
	font-size: 14px;
}

.menu li:nth-child(5){
	padding-right: 12px;
	border-right: 1px solid #56a2dc;
}

.menu a:hover{
	background: #4eabda;
	color: #fff;
	transition:0.2s all;
}

.Mihnas a{
	position: relative;
	padding-left: 50px;
	color: #fff;
}

.Mihnas a:after{
	position: absolute;
	background-image: url(../img/flag.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	left: 10px;
	top:6px;
	content: '';
}

.Ola {
	padding-right: 20px;
}

.Ola a{
   color: #fff;
   background: url(../img/ola.jpg);
   border-right: 1px solid #62a7e2;
   border-left: 1px solid #62a7e2;
   border-bottom: 1px solid #62a7e2;
}

.Ola span{
	text-decoration: underline;
}

.Ola a:hover{
	background: url(../img/ola.jpg);
}






















